/*body {		
  color: #fff;
  background: #FCE29E;
  font-family: 'Oxygen', sans-serif;
}*/

/** HEADER **/
#header-nav {
  background-color: #808080;
  border-radius: 0;
  border: solid black 2px;
}
.container-fluid{
	margin: 0;
	padding: 0;
}
/*.navbar-brand{
	font-size: 35px;
	color: white;
	padding-left: 25px;
}*/
.navbar-brand h1 {
  letter-spacing: 2px;	 
  font-family: 'Lora', serif;
  color: #020202;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.01;
}
#nav-list {
	margin-bottom: 0;
	margin-top: 0;
    background-color: #ffffff;
}
#nav-list a {
    /*text-align: center;*/
    border: solid black 1px;
    font-weight: bold;
    color: #282828;
    font-size: 1.2em;
}
li:hover {
	background-color: #808080;
}
/*.navbar-toggle{
	border: 2px solid black;
	margin-right: 25px;
}*/
li{
	box-sizing: border-box;
	width: 100%;
}
.main-title{	
	letter-spacing: 1px;
	text-align: center;
	font-size: 30px;
	font-family: 'Oxygen', sans-serif;
}
section {
    border: 1px solid black;
    background-color: #808080;
    margin: 15px;
}
section>h2{
	text-align: center;
    width: 230px;
    margin: 0;
    font-style: Times;
    font-size: 24px;
    font-weight: bold;
    height: 40px;
    padding-top: 15px;
}
p {
  border: 1px white;
  background-color: #808080;
  width: 100%;
  height: 160%;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
 }
 @media (min-width: 992px){
.sapadu{
	padding-left: 51.5%;
}
}
@media (min-width: 768px) and (max-width: 991px){
	.sapadu{
	padding-left: 46%;
}
}
@media(max-width: 767px){
.sapadu{
	padding-left: 40%;
}
}
